
@{
    ViewBag.Title = "Order";
}

<h2>Place Your Order Here.....</h2>
<div class="container">
    <div class="master">
        <h3>Order</h3>
        <table class="table table-hover table-responsive table-bordered">

            <tr>
                <td>Order Date</td>
                <td>
                    <input type="date" id="orderDate" class="form-control" />
                    <span class="error">Valid Order date required(MM-dd-yyyy)</span>
                </td>

                <td>Note</td>
                <td>
                    <textarea id="note" class="form-control"></textarea>
                </td>
            </tr>

            <tr>
                <td>Image</td>
                <td>
                    <input type="file" name="ImageFile" id="imageupload" class="form-control" />
                </td>

                <td>Are You Agree?</td>
                <td>
                    <input type="checkbox" id="bool" class="form-control" />
                </td>
            </tr>
        </table>
    </div>

    <div class="details">
        <h2>Order Items</h2>
        <table class="table table-responsive table-hover table-bordered">
            <tr>
                <td>Category</td>
                <td>Product</td>
                <td>Quantity</td>
                <td>Unit Price</td>
                <td></td>
            </tr>
            <tr class="mycontainer" id="mainrow">
                <td>
                    <select id="productCategory" class="pc form-control" onchange="LoadProduct(this)">
                        <option>Select</option>
                    </select>
                    <span class="error">Select Category</span>
                </td>
                <td>
                    <select id="product" class="product form-control">
                        <option>Select</option>
                    </select>
                    <span class="error">Select Product</span>
                </td>
                <td>
                    <input type="text" id="quantity" class="quantity form-control" />
                    <span class="error">Please Provide Valid Quantity</span>
                </td>
                <td>
                    <input type="text" id="rate" class="rate form-control" />
                    <span class="error">Please Provide Valid Rate</span>
                </td>
                <td>
                    <input type="button" id="add" value="Add" style="width:80px" class="btn btn-success" />
                </td>
            </tr>
        </table>


        <div id="orderItems">
            @Html.Partial("_OrderPartial")
        </div>

        <div style="padding:10px 0; text-align:right;">
            <input type="submit" id="submit" value="Place Order" class="btn btn-warning" style="padding:10px 20px" />
        </div>

    </div>

</div>


<div>

</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/MyScripts.js"></script>

<style>
    span.error{
        display:block;
        visibility:hidden;
        color:red;
        font-size:90%;
    }
    tr.error{
        background-color:brown;
    }
</style>
